@use "sass:map";



$theme-colors: ("white": #ffffff,
    "light-grey": #dfdfdf,
    "grey": #cccccc,
    "light": #dadbf7,
    "dark": #182135,
    "primary": #039BF1,
    "secondary": #bb5b1c,
    "info": #726b91,
    "success": #139a5f,
    "warning": #dcca14,
    "danger": #FF0505,
);

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-daterangepicker/daterangepicker.css';

.btn {
    border-radius: 20px;
}

.btn-primary,
.btn-danger {
    color: map.get($theme-colors, "white");
    font-weight: bold;
}

.app-logo {
    width: 100px;
    height: auto;

    &.dialog {
        width: 58px;

    }
}


.nav-item {
    a {
        text-decoration: none;
    }
}

.timeslot-radio {



    label {

        display: inline-block;
        padding: 10px 15px;
        margin: 10px 10px;
        border-radius: 10px;
        border: 2px solid map.get($theme-colors, "primary");

        &:hover {

            background: map.get($theme-colors, "danger");
            color: map.get($theme-colors, "white");
            border-color: transparent;
        }


    }

    input[type="radio"] {
        display: none;
    }

    input[type="radio"]:checked+label {
        background: map.get($theme-colors, "danger");
        color: map.get($theme-colors, "white");
        border-color: transparent;


    }

    input[disabled]+label {
        border: 2px solid map.get($theme-colors, "info");
    }


}


    .profile_photo {
        position: relative;
        margin: 15px 0;
        &__file {
            border: 1px solid map.get($theme-colors, "primary");
            padding: 5px;
            input{
                display: none;
            }
            label{
                cursor: pointer;
                width: 100%;
                display: block;
                }
            &__view{
                border: 1px dashed map.get($theme-colors, "primary");
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                    
                    height: 100%;
                    width: auto;
                    margin: 0 auto;
                    }
                
                div{
                    
                    border: 1px double map.get($theme-colors, "primary");
                    padding: 20px 30px;
                    font-size: 30px;
                    font-weight: bold;
                    color: map.get($theme-colors, "primary");
                    
                    }
                }

        }

            button{
       position: absolute;
    right: 20px;
    bottom: 20px;
                }

    }

.appcard {

    display: inline-block;
    padding: 15px 20px;
    border-radius: 10px;
    background: map.get($theme-colors, "grey");
    width: 338px;

    &__header {
        display: flex;

        &__slot_id {
            min-width: 100px;
        }
    }

    &__body {
        display: flex;
        justify-content: space-between;


        .btn {
            border-radius: 10px;
        }

        .slot {

            font-size: 20px;
            font-weight: bold;
        }
    }

    &__footer {
        &__line {
            display: block;
            height: 3px;
            border-radius: 2px;
            background: map.get($theme-colors, "dark");
        }
    }
}

.prevappcard {

    display: inline-block;
    padding: 15px 20px;
    border-radius: 10px;
    background: map.get($theme-colors, "light-grey");
    width: 338px;

        &__header {
        display: flex;
justify-content: space-between;
        &__is_visited {
            padding: 2px 8px;
            display: inline-block;
            background: map.get($theme-colors, "grey");
            border-radius: 5px;
        }

    }

            &__body {

                text-align: center;
            }

   &__footer {
      
                text-align: right;
      
    }
    
}
.appcard-banner {
    background-image: url('assets/images/banner.png'); 
    background-size: cover; 
    background-position: center; 
    height: 700px; 
    border-radius: 10px; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
    color: white; 
    font-size: 60px; 
    font-weight: bold; 
}

.banner-content {
    text-align: center; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    margin-bottom: 20px; 
    font-size: 45px; 
}

.appcard-banner .btn {
    background-color: map.get($theme-colors, "danger"); 
    color: white; 
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    margin-top: 70px; 
    align-self: flex-end; 
}



.text-end.p-3{
    text-align: right;
    padding: 1rem;
    color: map.get($theme-colors, "primary");
    font-weight: bold; 
  }

  .main-page-testimonials {
    text-align: center;

    h2 {
        color: map.get($theme-colors, "black");
        margin-top: 2cm;
    }

    h3 {
        color: map.get($theme-colors, "primary");
    }



    .testimonials-card {
        text-align: left;
        padding: 20px;
        border: 1px solid map.get($theme-colors, "grey");
        border-radius: 10px;
        background-color: map.get($theme-colors, "light-grey");
        margin-bottom: 20px;
        height: 290px;

        p {
            margin-bottom: 10px;
            &:first-child
                {
                    font-style: italic;
                    }
        }

        .author {
            font-weight: bold;
            text-align: right;
        }
    }

    .text-danger {
        color: map.get($theme-colors, "danger");
        font-size: 2em; 
    }

    .text-primary {
        color: map.get($theme-colors, "primary");
        font-size: 2em; 
    }

    .btn-danger {
        background-color: map.get($theme-colors, "danger");
        color: map.get($theme-colors, "white");
        border-color: map.get($theme-colors, "danger");

        &:hover {
            background-color: darken(map.get($theme-colors, "danger"), 10%);
            border-color: darken(map.get($theme-colors, "danger"), 10%);
        }
    }
}

.main-page-doctors-heading {
    h2 {
        color: map.get($theme-colors, "black");
        margin-top: 1cm;
    }
}

.text-primary {
    color: map.get($theme-colors, "primary");
    font-size: 2em;
}

.doctor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 400px;
    height: 500px;
    border: 1px solid map.get($theme-colors, "grey");
    border-radius: 10px;
    background-color: map.get($theme-colors, "white");
    padding: 20px;
    margin-bottom: 20px;

    img {
        margin-top: 50px;
        max-width: 80%; 
        height: auto;
        max-height: 312px;
        border-radius: 10px;
        margin-bottom: 20px; 
    }

    .doctor-info {
        margin-top: auto; 

        .doctor-name {
            color: map.get($theme-colors, "primary");
            font-size: 1.5em;
            margin-bottom: 10px; 
        }

        .btn-doctor-sign-in {
            background-color: map.get($theme-colors, "danger");
            color: map.get($theme-colors, "white");
            border-color: map.get($theme-colors, "danger");
            border-radius: 20px;
            font-weight: bold;
            cursor: pointer;
        }

        .btn-doctor-sign-in:hover {
            background-color: darken(map.get($theme-colors, "danger"), 10%);
            border-color: darken(map.get($theme-colors, "danger"), 10%);
        }
    }

}


.img-doctor1, .img-doctor2, .img-doctor3 {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; 
}

.img-doctor1 {
    background-image: url('assets/images/doctor1.png');
}

.img-doctor2 {
    background-image: url('assets/images/doctor2.png');
}

.img-doctor3 {
    background-image: url('assets/images/doctor3.png');
}


    .doctors-subheading {
        font-weight: bold;
        font-size: 35px; 
        margin-bottom: 1 cm; 
        color:map.get($theme-colors, "primary")
    }


